body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 150px;
    background-color: brown;
    border:1px solid black;
    margin: 5px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

